.table {
  border-collapse: collapse;
  width: 100%;
  max-width: 530px;
  justify-content: center;
  margin: 20px auto;
  margin-top: 0px;
}
.th, .td {
  border: 1px solid #aaa;
  padding: 8px;
  text-align: left;
}
.th {
  background-color: #f2f2f2;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}
.pagination button {
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px;
}
.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.pagination span {
  margin-top: 3px;
}

.search-box {
  display: flex;
  height: 35px;
  margin: 10px auto;
  margin-bottom: 0px;
  padding: 6px;
  gap: 5px;
  justify-content: center;
}

.search-box input, select {
  padding-left: 6px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
}
.search-box input {
  flex: 1;
  min-width: 0; 
}

.table td {
  background-color: #FFEAE0;
}

.td.empty {
  text-align: center;
  color: #777;
  padding: 20px;
  font-style: italic;
  background: #fff;
}