body {
  background: #FFF2E2;
}

.title {
  text-align: center;
}

.tt {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  background: #FFE5D5;
  padding: 8px;
  text-align: center;
  margin: 5px auto;
  border-radius: 30px;
}

.btn {
  background: #FFE5D1;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border: solid;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
.btn:hover {
  background: #FFDCC6;
  transition: all 0.2s ease-in-out;
}

.btn1 {
  background: #FFE5D5;
  height: 35px;
  border-radius: 17px;
  border: solid;
  text-align: center;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 13px;
}
.btn1:hover {
  background: #FFDCC6;
  transition: all 0.2s ease-in-out;
}

.LittleFont {
  font-size: 10px;
}

.bottom {
  text-align: center;
}
